<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454791151972-rfs6h796pbt650gmdh53ed17jos80qqo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454791151972-rfs6h796pbt650gmdh53ed17jos80qqo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>454791151972-36c9j4eko2s7i4thec4rcb2jmlj03ra3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCME9PG7cXyvgSNwFHztoIzVwYBF6E9XM</string>
	<key>GCM_SENDER_ID</key>
	<string>454791151972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luceferreddy.Spotnet</string>
	<key>PROJECT_ID</key>
	<string>spotnetapp</string>
	<key>STORAGE_BUCKET</key>
	<string>spotnetapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454791151972:ios:28d6627c7946ea18b07a71</string>
</dict>
</plist>